body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#weatherSummary {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #aaaaaa;
}

.chart-container {
    width: 20%; /* Set the width to 20% of the screen */
    margin: 0 auto; /* Center the container horizontally */
}

canvas {
    width: 100% !important; /* Make the canvas fill the container */
    height: auto !important; /* Maintain the aspect ratio */
}

@media (max-width: 768px) {
    .chart-container {
        width: 80%; /* Increase width on smaller screens if needed */
    }
}

